.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    border: none;
    border-radius: 8px;
    background:linear-gradient(to right, #A74CF2, #617BFB);
    gap: 20px;
}