body{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container{
    flex-direction: column;
    display: flex;
    min-height: calc(100vh);
    width: 100%;
    background-image: url("../../images/Background03.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: multiply;
}

.cards{
    display: grid;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 10px;
    justify-items: center;
    padding: 80px 20px 0px 20px;
    min-height: calc(100vh - 5rem);

}