.Nav{
    display: flex;
    justify-content: flex-end;
    background:#111;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 9999;
}

.SearchBar{
    display: flex;
    align-items: center;
}

.SearchBar input{
    width: 80%;
    height: 2.8rem;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1.2rem;
    background-color: whitesmoke;
    margin-right: 3rem;
}

.SearchBar button{
    color: aliceblue;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    background: linear-gradient(315deg,#4dff03,#00d0ff);
    margin-right: 3rem;
}

.SearchBar button:hover{
    background: #111;

}


